PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/campussos?retryWrites=true&w=majority
JWT_SECRET=campussos_super_secret_jwt_key_2026_999888777
NODE_ENV=production
CLIENT_URL=https://your-client-app.vercel.app
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password
ADMIN_SECRET_CODE=sos@446898
